.container {
  text-align: center;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
}

.bigTitle {
  font-size: 10rem;
  margin: 30%;
}

.link {
  font-size: 1em;
  color: white;
}

.link:hover {
  color: lightgreen;
}
