.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  color: white;
  border-bottom: 2px solid lightgreen;
}

.logo {
  height: 200px;
  width: 200px;
}

.nav {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.link {
  opacity: 0.7;
  font-family: Poppins;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

.link:hover {
  color: lightgreen;
  cursor: pointer;
}

.activeLink {
  color: greenyellow;
  font-weight: bold;
  cursor: pointer;
}
